/**
* Global
*/

* {
    padding: 0;
    margin: 0;
}

/**
* Header
*/

.header .top-nav {
    padding: 20px;
    display: flex;
    box-shadow: 0 0 10px #df83f180;
}

.header .top-nav .logo,
.header .top-nav .log {
    width: 20%;
}

.top-nav .navigation {
    width: 60%;
    display: flex;
    list-style: none;
}

.logo .logo-content {
    font-size: 24px;
    color: blueviolet;
    font-weight: bold;
}

.navigation .nav-item {
    padding: 7px 15px;
}

.navigation .nav-item .nav-link {
    text-decoration: none;
    color: #912fa0;
    font-weight: 600;
}

.navigation .nav-item .nav-link.active {
    color: blueviolet;
    border-bottom: 1px solid blueviolet;
    font-weight: 700;
}

.log .btn {
    padding: 6px 15px;
    background-color: blueviolet;
    color: #f6f6f6;
    border: 1px solid blueviolet;
    border-radius: 3px;
    cursor: pointer;
}

/**
* Breadcrumb
*/

.breadcrumb {
    display: flex;
    width: 50%;
    margin: 40px auto;
}

.breadcrumb .breadcrumb-item {
    padding: 0 10px;
    text-decoration: none;
}

.breadcrumb .parent-class {
    color: blueviolet;
    font-weight: bold;
}

.breadcrumb .breadcrumb-sign {
    color: #a8a8a8;
}

.breadcrumb .child-class {
    color: #8a8a8a;
}

.container {
    width: 60%;
    margin: 0 auto;
}

.container .row {
    display: flex;
    flex-wrap: wrap;
}

.container .row .col-12 {
    width: 100%;
    max-width: 100%;
}
.container .row .col-4 {
    width: 33.3%;
    max-width: 33.3%;
    min-width: 33.3%;
}

/**
* Big Card
*/

.big-card {
    display: flex;
    flex-flow: column;
    position: relative;
    margin-bottom: 30px;
}

.big-card .card-body {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    padding: 25px 50px;
    background-color: #cd2be280;
    border-radius: 10px;
}

.big-card .thumbnail .thumbnail-image {
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
}

.big-card .card-body .card-title {
    color: white;
    padding: 10px 0;
    font-size: 18px;
}

.big-card .user-profile .user-avatar {
    width: 50px;
    height: 50px;
}

.big-card .user-profile .user-avatar .avatar-image {
    width: 100%;
    max-width: 100%;
    border: 3px solid #dedede;
    border-radius: 50%;
}

.big-card .user-profile .user-name {
    color: white;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 3px;
}

.small-card {
    display: flex;
    flex-flow: column;
    box-shadow: 0 0 15px #df83f180;
    border-radius: 7px;
    overflow: hidden;
    margin: 10px;
}

.small-card .thumbnail .thumbnail-image {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

.small-card .card-body {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: -30px;
}

.small-card .user-profile {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.small-card .user-profile .user-avatar {
    width: 40px;
    height: 40px;
}

.small-card .user-avatar .avatar-image {
    width: 100%;
    max-width: 100%;
    border: 1px solid #dedede;
    border-radius: 50%;
}

.small-card .user-profile .user-name {
    padding-top: 5px;
    color: #585858;
    font-size: 14px;
}

.small-card .card-body .card-title {
    height: 34px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin: 5px;
    padding: 0 5px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.small-card .card-body .card-footer {
    padding: 10px 0;
    color: #686868;
    font-size: 14px;
}